.hero {
  height: 100vh;
  background-image: url("https://ad-webapp.s3.amazonaws.com/top-banner.jpg");
  background-position: right top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: $white;
  justify-content: center;

  @include respond(tab-land) {
    background-position: left 75% bottom 50%;
  }

  @include respond(tab-port) {
    height: 85vh;
    background-position: left 70% bottom 50%;
  }

  &__text-container {
    margin-left: 40rem;
    width: 35%;

    @include respond(laptop) {
      margin-left: 20rem;
    }

    @include respond(tab-port) {
      margin-left: 15rem;
    }
  }

  &__title-container {
    text-align: left;
    width: 50rem;
  }

  &__title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: $white;
    z-index: 1;
    font-size: 7rem;

    @include respond(tab-land) {
      font-size: 4.5rem;
    }
  }

  &__brush {
    width: 50rem;
    transform: translateY(10px);

    @include respond(tab-land) {
      width: 30rem;
    }
  }

  &__subtitle {
    letter-spacing: 0.4rem;
    padding: 1.5rem 0;
  }

  &__paragraph {
    line-height: 1.5;
    font-size: 1.8rem;
  }
}
