.hero {
  height: 100vh;
  background-image: url("https://ad-webapp.s3.amazonaws.com/top-banner.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: $white;
  justify-content: center;
  background-position: left 75% bottom 50%;

  @include respond(tab-port) {
    height: 85vh;
    background-position: left 70% bottom 50%;
  }

  @include respond(phone-land) {
    height: 100vh;
    background-position: center;
  }

  @include respond(phone-port) {
    height: 90vh;
    background-image: url("https://ad-webapp.s3.amazonaws.com/top-banner-mobile.jpg");
  }

  &__text-container {
    margin-left: 45rem;
    width: 35%;
    margin-bottom: 10rem;

    @include respond(laptop) {
      margin-left: 30rem;
      margin-bottom: 0;
    }

    @include respond(tab-port) {
      margin-left: 15rem;
    }

    @include respond(phone-port) {
      width: 100%;
      margin-left: 0;
      text-align: center;
      margin-top: 7rem;
    }
  }

  &__title-container {
    text-align: left;
    width: 50rem;

    @include respond(phone-port) {
      width: 100%;
    }
  }

  &__title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: $white;
    z-index: 1;
    font-size: 7rem;

    @include respond(tab-land) {
      font-size: 4.5rem;
    }

    @include respond(phone-land) {
      font-size: 3.7rem;
    }

    @include respond(phone-port) {
      text-align: center;
      width: 100%;
      transform: translateY(-6px);
    }
  }

  &__brush {
    width: 50rem;
    transform: translateY(10px);

    @include respond(tab-land) {
      width: 30rem;
    }
    @include respond(phone-land) {
      width: 28rem;
    }

    @include respond(phone-port) {
      width: 28rem;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  &__subtitle {
    letter-spacing: 0.4rem;
    padding: 1.5rem 0;

    @include respond(phone-land) {
      font-size: 1.6rem;
    }

    @include respond(phone-port) {
      font-size: 1.8rem;
    }
  }

  &__paragraph {
    line-height: 1.5;
    font-size: 1.8rem;

    @include respond(phone-land) {
      font-size: 1.3rem;
    }

    @include respond(phone-port) {
      transform: translateY(6rem);
      font-size: 1.3rem;
      padding: 0 3rem;
      color: $black;
    }
  }
}
