html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "DIN";
  font-size: 1.6rem;
  font-weight: 200;
  font-family: "Lato", sans-serif;
  line-height: 1.5;

  @include respond(phone-land) {
    font-size: 1rem;
  }
}

h1 {
  font-family: "Rock Salt", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 3rem;

  @include respond(phone-land) {
    font-size: 2.8rem;
  }
}
