@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/* rock-salt-regular - latin */
@font-face {
  font-family: "Rock Salt";
  font-style: normal;
  font-weight: 400;
  src: local("Rock Salt Regular"), local("RockSalt-Regular"),
    url("./fonts/rock-salt-v10-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/rock-salt-v10-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
